:root {
  --priamry-one: 193 38% 86%;
  --priamry-two: 150 100% 66%;

  --neutral-one: 217 19% 38%;
  --neutral-two: 217 19% 24%;
  --neutral-three: 218 23% 16%;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: "Manrope";
  font-weight: 800;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: hsl(var(--neutral-three));
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* main styles */

body {
  display: grid;
  place-items: center;
}

main {
  --max-width: 400px;
  --padding: 1rem;
  display: grid;
  place-items: center;
  width: min(var(--max-width), 100% - var(--padding));
  margin-inline: auto;
  background-color: hsl(var(--neutral-two));
  padding: 2rem 1rem 3rem;
  border-radius: 10px;
  position: relative;
}

h1 {
  color: hsl(var(--priamry-two));
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-size: 0.7rem;
}

p {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: hsl(var(--priamry-one));
  padding-block: 1.25rem 1.5rem;
}

.play-pause {
  position: relative;
  margin-block: 0.5rem;
}

.play-pause::after {
  content: "";
  top: 50%;
  left: 60%;
  height: 1px;
  background-color: hsl(var(--priamry-one) / 0.25);
  position: absolute;
}

.dice {
  position: absolute;
  inset: 100% 0 0 50%;
  padding: 1rem;
  border-radius: 50%;
  aspect-ratio: 1;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsl(var(--priamry-two));
  z-index: 1;
}

.dice::before {
  content: "";
  box-shadow: 0rem 0rem 1.75rem 0.25rem hsl(var(--priamry-two) / 0.75);
  inset: 0;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms ease-in-out, transform 350ms ease-in-out;
}

.dice:hover::before,
.dice:focus-visible::before {
  opacity: 1;
}
